/* global layout */
.wrapper { border-left:1px dashed #666; border-right:1px dashed #666; }
#content .stackContent, #footer .stackContent {padding:10px; margin:10px; }
#content .stackAuto, #footer .stackAuto {padding:10px 0 }
#content .stackAuto .stackContent, #footer .stackAuto .stackContent {margin:0 10px; }

/* fonts */
.stackContent, #nav li, body, input, select, textarea {font-family:sans-serif; font-size:0.95em; }
h1, h2, h3, h4, h5, h6 {font-family:sans-serif; }
#content h1, #content h2, #content h3, #content h4, #content h5, #content h6 {
    margin-top:0.5em; margin-bottom:0.5em; clear:both; line-height:1.2em; }
#content p {margin-bottom:1em; }
code {font-size:1.5em; color:#ba321c; } 
strong {color:#ba321c; }

/* anchors */
a, a:visited {text-decoration:none; cursor:pointer; color:black;}
#header a, #header a:visited, #footer a:visited {text-decoration:none; cursor:pointer; color:#999; }
#header a:hover, a:focus { color:#fff; }

/* header */
#container #nav li {float:left;} 
#container #nav li a {display:block; float:left;}
#header {background:#0B0B61;text-align:left; }
#title {color:#fff; padding:2px; font-size:3em; float:left;}
#flash { margin: 0px auto; }
#flash .notice  { padding:10px; background-color: green; color: white; }
#flash .warning { padding:10px; background-color: yellow; }
#flash .error   { padding:10px; background-color: red; }

/* navigation */
#nav {padding:2px; float:right; } 
#nav li a {padding:15px; border-radius:5px; -moz-border-radius:5px; -khtml-border-radius:5px; -webkit-border-radius:5px; }
#nav li.active a {border-color:transparent; background-color:#08088A; color:#fff; -pox-shadow:inset 0 0 5px #000; 
    -moz-box-shadow:inset 0 0 5px #000; -khtml-box-shadow:inset 0 0 5px #000; -webkit-box-shadow:inset 0 0 5px #000; }


/* content */
#content .stackContent {background-color:#eee;}
#sidebar .stackContent {background:#fff; border:1px solid #ccc; border-radius:5px; -moz-border-radius:5px; 
    -khtml-border-radius:5px; -webkit-border-radius:5px; -box-shadow:0 0 5px #999; -moz-box-shadow:0 0 5px #999; 
    -khtml-box-shadow:0 0 5px #999; -webkit-box-shadow:0 0 5px #999; }

/* forms */
.field { padding:0px !important; margin:0px !important; }
label { position:absolute; text-align:right;  margin-top:-10px; text-align:left; font-size:smaller; font-weight:bold; }
input, textarea { width:150px; }
select { width:160px; padding: 3px; }
input { border:1px solid #ccc; padding:4px; -moz-box-shadow:0 0 10px #eee inset; -webkit-box-shadow:0 0 10px #eee inset; }
select.multi { border: 1px solid red; }
label.check, label.radio { position:relative; text-align:left; }
fieldset { border:1px solid #ccc; margin-bottom: 10px;}
legend { padding: 0.2em 0.5em; border:1px solid #ccc; background-color:#ccc; color:white; font-size:80%; text-align:right; font-weight: bold;}
button { float: right; }

/* tables */
table { cursor:pointer; }
table th:hover { background-color: #0B0B61;}
table tbody tr:hover { background-color: yellow; }
table thead { border: 1px solid black; background-color: #08088A; color: #fff; padding: 4px; text-align: center; 
    border-bottom: 2px #fff solid; font-weight: bold; }
table th { padding: 4px; }
table tbody { text-align: left; text-indent: 10px; color: #404040; background-color: #fafafa; }
table td { padding: 3px 7px 2px 7px; }

table.report thead { background-color: white; color:black; border: none; text-align:left; }
table.report td { padding: 0px; }
table.report { font-family:monospace; text-align:left; }
table.report th:hover { background-color: inherit;}
table.report tbody tr:hover { background-color: inherit; }
table.report caption { font-size: 1.5em; padding: 10px; background-color: white;}

/* footer */
#footer {font-size:0.8em; color:#ccc; background:#0B0B61; } 
#footer .stackAuto { vertical-align:middle; padding: 0px; }



/* tablesorter */
table.tablesorter thead tr .header {
  background-image: url(/images/bg.gif);
  background-repeat: no-repeat;
  background-position: center right;
  cursor: pointer;
}
table.tablesorter tbody tr.odd td {background-color:#F0F0F6; }
table.tablesorter thead tr .headerSortUp {background-image: url(/images/asc.gif); }
table.tablesorter thead tr .headerSortDown {background-image: url(/images/desc.gif); }
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {background-color: gray; }
