- if target.errors.any?
  
  #errorExplanation  
    %h2= "#{pluralize(target.errors.count, 'error')} prohibited this #{target.class} from being saved:" 
    
    %p There were problems with the following fields:
    
    %ul
      - target.errors.full_messages.each do |msg|  
        %li= msg
