/* styles for 'new' controller actions */

form.new {
  padding:15px 0 10px;
  legend {font-size:1.4em;}
  .text label {display:none;}
  >fieldset {
    border:1px solid $navy;
    padding:10px;
    background-color:$lighter-grey;
    margin-bottom:10px;
    @include border-radius(6px);
    input.default-text {color:$light-grey;}
  }
}