/* styles for 'new' and 'edit' controller actions */

form.new, form.edit {
  padding:15px 0 10px;
  legend {font-size:1.4em;}
  .text label {display:none;}
  >fieldset {
    border:1px solid $navy;
    padding:10px;
    background-color:$bright-white;
    margin-bottom:10px;
    @include border-radius(6px, 6px, 6px, 6px);
    fieldset.row {
      margin-bottom:10px;
      fieldset {
        float:left;
        margin-right:5px;
      }
      fieldset.select {margin-right:20px;}
      select {font-size:1.5em;}
      input[type="text"] {text-transform:uppercase;font-size:1.3em;width:170px;color:$text;}
      input.default-text {
        color:$light-grey;
      }
      input[name*="suffix"], input[name*="height"], input[name*="weight"] {width:60px;}
    }
  }
}