/*
 *= require_self
 *= require_tree .
*/

/* resets */
html {font-size:67.5%;font-family:Georgia, Times New Roman, serif;}
html, body, div, p, a, img, span, h1, h2, h3, h4, h5, h6, ul, li, ol, table, thead, tbody, th, td, tr, tfoot {margin:0;padding:0;}
ul, ol, li {list-style-type:none;}

/* colors */
$navy: #2a3251;

/* mixins */
@mixin table-cell {display:table-cell;vertical-align:top;}

/* global styles */
body {display:table;}

#wrapper {display:table-row;position:absolute;}

#sidebar {
  @include table-cell;
  width:170px;
  height:100%;
  background-color:$navy;
  #large-logo {
    display:block;
    img {margin:0 auto;padding:20px 10px;}
  }
  ul {
    float:right;
    li {
      display:block;
      position:relative;
      z-index:900;
      padding:10px;
      background-color:#ddd;
      -webkit-box-shadow:-7px 0 8px #333;
      -moz-box-shadow:-7px 0 8px #333;
      box-shadow:-7px 0 8px #333;
      -webkit-border-radius:6px 0 0 6px;
      -moz-border-radius:6px 0 0 6px;
      border-radius:6px 0 0 6px;
      a {display:block;width:32px;height:32px;text-indent:-10000px;}
    }
    li:hover {background-color:#eee;}
    .contacts a {background:url('/assets/profile.png') no-repeat;}
    .search a {background:url('/assets/search.png') no-repeat;}
    .reports a {background:url('/assets/piechart.png') no-repeat;}
    .admin a {background:url('/assets/modify.png') no-repeat;}
    .active {z-index:910;background-color:#fff;}
    .active:hover {background-color:#fff;}
  }
}

#main {
  @include table-cell;
  position:relative;
  z-index:900;
  background-color:#fff;
  width:100%;
  -webkit-box-shadow:0 0 10px #000;
  -moz-box-shadow:0 0 10px #000;
  box-shadow:0 0 10px #000;
  #content {padding:20px;}
}