/* colors */
$navy: #2a3251;
$powder-blue: #c4e1ff;
$sky-blue: #0078ff;
$light-powder-blue: #bfd4e8;
$light-grey: #aaaaaa;
$lighter-grey: #dddddd;
$lightest-grey: #eeeeee;
$pale-yellow: #feffbd;
$text: #333333;
$body-background: #eee;

/* resets */
html {font-size:67.5%;font-family:Helvetica, Arial, sans-serif;height:100%;color:$text;}
html, body, div, p, a, img, span, h1, h2, h3, h4, h5, h6, ul, li, ol, table, thead, tbody, th, td, tr, tfoot, fieldset {border:0 none;margin:0;padding:0;}
ul, ol, li {list-style-type:none;}

/* mixins */
@mixin table-cell {display:table-cell;vertical-align:top;}
@mixin serif {font-family:Times New Roman, Georgia, serif;}
@mixin border($top, $right, $bottom, $left) {border-top:$top;border-right:$right;border-bottom:$bottom;border-left:$left;}
@mixin border-radius($values) {-webkit-border-radius:$values;-moz-border-radius:$values;border-radius:$values;}
@mixin box-shadow($values) {-webkit-box-shadow:$values;-moz-box-shadow:$values;box-shadow:$values;}

/* analysis table */
table.analysis {
  width:100%;
  caption {
    @include border-radius(6px 6px 0 0);
    background-color:$light-powder-blue;
    padding:10px;
    font-size:1.4em;
    text-transform:uppercase;
  }
  thead {
    th {padding:10px;border:1px solid $light-powder-blue;}
  }
  tbody {
    td {padding:10px;text-transform:uppercase;font-size:1.3em;}
    .odd td {background-color:$lighter-grey;}
    .first {@include border(0, 0, 0, 1px solid $light-powder-blue);}
    .last {@include border(0, 1px solid $light-powder-blue, 0, 0);}
  }
  tfoot {
    td {@include border-radius(0 0 6px 6px);padding:10px;background-color:$light-powder-blue;}
  }
}

// imports
@import 'partials/globals';
@import 'partials/paper';
@import 'partials/login';
@import 'partials/dashboard';
@import 'partials/index';
@import 'partials/new_edit';
@import 'partials/anytime';