%h1.stackContent Reporting

.stackContent
  %ul.tabs
    %li
      %a{:href=>"#"}By Offense
    %li
      %a{:href=>"#"}Report 2
    %li
      %a{:href=>"#"}Report 3

  .panes
    %div
      pane 1 content
    %div
      pane 2 content
    %div
      pane 3 content

