%h1.stackContent Reporting


-#.stackContent
-#  %ul.tabs
-#    %li
-#      %a{:href=>"/reports/recent_contacts"}Recent Contacts
-#    %li
-#      %a{:href=>"/reports/2"}Report 2
-#    %li
-#      %a{:href=>"/reports/3"}Report 3
-#
-#  .panes
-#    %div{:style=>"display:block"}
